
body {
  font-family: 'Poppins', serif;
  text-align: center;
  font-size: 18px;
  color: white;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-image: url("https://images.unsplash.com/photo-1533282960533-51328aa49826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1630&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}
