<style>
    a { color: #ffffff; }
    a:hover { opacity: 50%; color: #ffffff}
</style>
<ul class="nav nav-tabs" >
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#">Current Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/project/html/pages/calendar.ejs">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Planning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Notes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Settings</a>
    </li>
</ul>